*{
    box-sizing:border-box;
}

img.up{
    display:block;
    max-height:100%;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.row{
    margin:35px auto;
    float:center;

}
.column{
    margin:35px auto;
    width:30%;
}
.row1{
    margin:35px auto;
    float:center;
    width:50%;

}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.full{
    background-color:#151515;
    position:relative;
    background-image:url(https://static.csivit.com/devspace-email-template-assets/emailtempbg.png);
    background-size:600px 1000px;
    border: #00d5ff;
    border-width:3px;
    height: 1000px;
    width: 600px;   
  }
.top{
    margin:0 auto;
    top:0;
    height:10%;
    width:100%;
    position:absolute;
}

#csi{
    color:whitesmoke;
}
#csi:hover{
    color:#00d5ff;
    transition:all 0.3s ease;
}

#devlink{
    font-family: 'Lato', sans-serif;
    color: black;
    background-color:#00d5ff;
    border: 2px solid whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0 auto;
    cursor: pointer;
    position: absolute;
    top:auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition:all 0.3s ease;
}

#devlink:hover{
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    background-color:#151515;
    border: 2px solid #00d5ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0 auto;
    cursor: pointer;
    position: absolute;
    top:auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition:all 0.3s ease;
}
.imag:hover,.imag1:hover{
    border:2px solid #00d5ff;
    color:#00d5ff;
    transition:all 0.3s ease;
}
.imag,.imag1{
    display:block;
    float:left;
    font-size:25px;
    color:white;
    position:relative;
    padding: 1%;
}

.inside{
    text-align:justify;
    text-justify:inter-word;
    position:relative;
    top:15%;
    padding:3%;
}

p,ul{
    font-family: 'Lato', sans-serif;
    color:whitesmoke;
    float:center;
    font-size:15px;
}

li{
    margin:0 0 5px 0;
}
h2{
    font-family: 'Lato', sans-serif;
    color:#00d5ff;
}
#devlink:link{
    color:whitesmoke;
}
.bottom {
    display:flex;
    position:relative;
    margin:125px auto auto 10px;
    bottom:0;
    height:10%;

}

.imag,.imag1{
    max-width:40%;
    max-height:40%;
    display:inline-block;
}

.c::after {
        content: "";
        clear: both;
        display: table;
      }


